*{
	margin: 0;
	padding: 0;
}

.RuleEditor{
	display: block;
	height: auto;
}
.RE_group{
	background-color: #fcf8e3;
	padding: 5px 5px 5px 25px;
	border: solid 1px #fcea8a;
	background-image: 
}
.RE_group .group_conditions input.active,.rule_conditions input.active{
	color: #ff5b53;
}
.RE_rule{

}
.RE_rule .RE_rule_tit{

}
.RE_rule .RE_rule_body{

}